<header id="cabecalho">
        <nav>
            <ul id="menuList">
                <li><a href="/home">Cadastrar TAF</a></li>
                <li><a href="/home">Ver tabela geral</a></li>
                <li><a href="/usuarios">Cadastrar novo usuário</a></li>
                <li><a href="/policiais">Cadastro de Policiais</a></li>
                <li><a href="/home/logout">Logout</a></li>
            </ul>
        </nav>
    </header>