@charset "UTF-8";
body {
  background-color: #336699;
}

h1 {
  margin-top: 2%;
  font-size: 24pt;
}

a {
  text-decoration: none;
  color: inherit;
}

div#login-div {
  color: black;
  background-color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
  /*border: 1px solid #034485;*/
  border-radius: 40px;
  box-shadow: -30px 30px 30px black;
  display: block;
  float: left;
  position: absolute;
  width: 500px;
  height: 500px;;
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
}
div#login-div input.text-input{
  font-size: 16pt;
}
img#brasao-pm-img {
  height: 128px;
  width: 111px;
  margin-top: 5%;
}

table#quadro-login-table {
  position: relative;
  width: fit-content;
  margin: 0 auto; /*centraliza o quadro-login-table dentro do div*/
}

input.text-input {
  vertical-align: top;
  width: 200px;
  box-shadow: 1px 1px 1px black;
}
span#esqueci-minha-senha-span {
  font-size: 12pt;
}
input#botaoEntrar {
  vertical-align: top;
}

header#cabecalho {
  color: black;
  /* border: 1px dashed red; */
  background-color: #37476A;
  background-image: url("../images/logotipo.png");
  background-repeat: no-repeat;
  box-shadow: 1px 1px 2px black;
  margin: -8px -8px auto -10px;
  height: 140px;
}
nav {
  /* border: 1px dashed red; */
  margin-top: 110px;
  height: 30px;
  width: 100%;
  position: absolute;
  float: left;
  background-color: rgb(215, 222, 243);
}
div#userdata {
  /* border: 1px dashed red; */
  color: white;
  width: 400px;
  text-align: right;
  margin-top: 10px;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

ul#menuList {
  /* border: 1px dashed white; */
  margin-top: 1px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 8pt;
  color: white;
}
li{
  display: inline-block;  
  padding: 5px;
  margin: 2px 2px 2px 2px;
  background-color: #1c5ea0;
  box-shadow: 1px 1px 1px black;
}
li.primeiro{
  width: 150px;
  text-align: center;
}
ul.dropdown-menu{
  margin-top: 2px;
  margin-left: -5px;
  visibility: hidden;
  transition: all 0.5s ease;
  position: absolute;
  list-style: block;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 5px black;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

form#formCadastroTaf {
  background-color: #e4f1ff;
  margin: auto;
  padding: 15px;
  border-radius: 10px;
}

input.readonly {
  background-color: #cecece;
}
input#nomeInputText {
  margin-right: 30px;
}

table#quadro-login-table td, table#quadro-login-table th {
  border: 1px dashed white;
}

.divvisivel {
  display: block;
  background-color: rgba(202, 75, 43, 0.6);
  border-radius: 10px;
  width: 300px;
  color: white;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  overflow: hidden;
  margin: 50px auto auto 300px;
}
.botaovisivel{
  float: right;
  background-color: rgba(17, 21, 77, 0.4);
  border: 1px solid  rgba(17, 21, 77, 0.4);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}
.close{
  display: none;
}
#botaoEntrar {
  background-color:  rgb(29, 30, 94);
  color: white;
  border-color: rgb(29, 30, 94);
  border-radius: 10px;
  width: 90px;
  height: 30px;
  transition: all 400ms;
}

#botaoEntrar:hover{
  background-color:  #336699;
  width: 100px;
}
#botaoEntrar:active{
  background-color:  #104b2f;
}

.divhidden{
  border: 1px dashed red;
  display: none;
  
}
#divdotaf, #divdosdados{
  margin: auto;
  width: auto;
  padding: 10px;
  background-color: #e4f1ff;
}
#divpesquisa{
  margin-top: 10px;
  width: 800px;
  padding: 10px;
  background-color: #e4f1ff;
}
table#tableResultadoPesquisa{
  background-color: #8A99BF;
  width: 790px;
}

table#tableResultadoPesquisa tr:nth-child(odd) {
  /*linhas ímpares da tabela*/
  background-color: #aec5f0;
}

table#tableResultadoPesquisa th{
  background-color: #3a76b3;
  color: white;
}
div#resultadoPesquisa{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 130px;
}

table#dadosTable{
  padding: 10px;
  border: 1px solid red;
}
table#dadosTable td{
  height: 45px;
}
table#dadosTable tr:nth-child(odd) {
  /*linhas ímpares da tabela*/
  background-color: #9cbbfd;
}
table#dadosTable tr:nth-child(even) {
  /*linhas ímpares da tabela*/
  background-color: #cadcff;
}
td#tdbutton{
  text-align: center;
}
#selecionarButton{
  width: 50px;
  text-align: center;
}

.inapto{
  color: red;
  font-weight: bold;
  font-size: 24pt;
}
.apto{
  color: green;
  font-weight: bold;
  font-size: 24pt;
}

div#containermsg-cadastro-policiais{
  position: absolute;
  margin: auto;
}
div#quadroFormCadastro{
	background-color: rgba(151, 213, 254, 0.9);
	width: 600px;
	border-radius: 5px;
	box-shadow: 4px 4px 4px black;
}